.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 40px;
  padding: 0.5rem 3rem;
  border: none;
  box-shadow: none;
  background: none;
  text-shadow: none;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 500;
  color: $color-black;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  @media (max-width: #{$break-max-md}) {
    font-size: 1.2rem;
    min-height: 30px;
    padding: 0 1rem;
  }
  &:hover, &:focus {
    text-decoration: inherit;
    color: inherit;
  }
  &-primary {
    background: $color-white;
    &:hover, &:focus {
      background: rgba($color-white, 0.8);
      color: $color-black;
    }
    &:hover {
      background: rgba($color-white, 0.8);
      color: $color-black;
    }
    &:active {
      background: $color-white;
      color: $color-black;
    }
    &:disabled, &.disabled {
      background: $color-grey-light;
      color: $color-grey-3;
      cursor: default;
    }
  }
  &-secondary {
    background: $color-white;
    border: 1px solid $color-black;
    &:hover, &:focus {
      background: $color-white;
    }
    &:hover {
      background: $color-white;
    }
    &:active {
      background: $color-white;
    }
    &:disabled, &.disabled {
      color: $color-grey-3;
      cursor: default;
    }
  }
  &-three {
    color: $color-white;
    background: $color-red;
    &:hover, &:focus {
      background: $color-red;
      color: $color-white;
    }
    &:hover {
      background: $color-red;
      color: $color-white;
    }
    &:active {
      background: $color-red;
      color: $color-white;
    }
    &:disabled, &.disabled {
      color: $color-grey-3;
      cursor: default;
    }
  }
  &-foo {
    background: $color-black;
    color: $color-white;
    &:hover, &:focus {
      background: rgba($color-black, 0.8);
      color: $color-white;
    }
    &:hover {
      background: rgba($color-black, 0.8);
      color: $color-white;
    }
    &:active {
      background: $color-black;
      color: $color-white;
    }
    &:disabled, &.disabled {
      color: $color-grey-light;
      cursor: default;
    }
  }
  &-five {
    background: rgba($color-black, 0.8);
    color: $color-white;
    &:hover, &:focus {
      background: rgba($color-black, 0.8);
      color: $color-white;
    }
    &:hover {
      background: rgba($color-black, 0.8);
      color: $color-white;
    }
    &:active {
      background: $color-black;
      color: $color-white;
    }
    &:disabled, &.disabled {
      color: $color-grey-light;
      cursor: default;
    }
  }



  &-small {
    min-height: 30px;
  }

  &-big {
    min-height: 55px;
    padding: 0 6rem;
  }

  &-prev {
    padding: 0;
    min-height: 30px;
    color: $color-black;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
