@include font-face('SF Pro Display', '../fonts/SFPro/SFProDisplay-Thin', 100);
@include font-face('SF Pro Display', '../fonts/SFPro/SFProDisplay-Light', 200);
@include font-face('SF Pro Display', '../fonts/SFPro/SFProDisplay-Regular', 400);
@include font-face('SF Pro Display', '../fonts/SFPro/SFProDisplay-Medium', 500);
@include font-face('SF Pro Display', '../fonts/SFPro/SFProDisplay-Semibold', 600);
@include font-face('SF Pro Display', '../fonts/SFPro/SFProDisplay-Bold', 700);
@include font-face('SF Pro Display', '../fonts/SFPro/SFProDisplay-Black', 900);

@font-face {
  font-family: 'SF UI Display Ultralight';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Ultralight'), url('../fonts/SFUIDisplay/sf-ui-display-ultralight.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Thin'), url('../fonts/SFUIDisplay/sf-ui-display-thin.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Display Light';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Light'), url('../fonts/SFUIDisplay/sf-ui-display-light.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Medium'), url('../fonts/SFUIDisplay/sf-ui-display-medium.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Display Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Semibold'), url('../fonts/SFUIDisplay/sf-ui-display-semibold.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Display Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Bold'), url('../fonts/SFUIDisplay/sf-ui-display-bold.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Display Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Heavy'), url('../fonts/SFUIDisplay/sf-ui-display-heavy.woff') format('woff');
}


@font-face {
  font-family: 'SF UI Display Black';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Black'), url('../fonts/SFUIDisplay/sf-ui-display-black.woff') format('woff');
}


