.footer {
  margin-top: 10rem;
  @media(max-width: #{$break-max-sm}) {
    margin-top: 6rem;
  }
  &-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3rem;
    border-top: 1px dashed rgba($color-black, 0.2);
    border-bottom: 1px dashed rgba($color-black, 0.2);
    &-col {
      width: 50%;
      @media(max-width: #{$break-max-lg}) {
        width: 100%;
        &:first-child {
            order: 2;
        }
        &:last-child {
            order: 1;
        }
      }
    }

    &-menus {
      display: flex;
      flex-wrap: wrap;
      @media(max-width: #{$break-max-lg}) {
        gap: 30px 0;
      }
      .footer-menu {
        width: 50%;
        padding: 2rem;
        @media(max-width: #{$break-max-lg}) {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
  &-foot {
    padding: 3rem 0;
  }

  &-logo {

  }

  &-info {
    display: flex;
    flex-wrap: wrap;
    &-col {
      width: 50%;
      @media(max-width: #{$break-max-xxl}) {
        width: 100%;
      }
    }

    .footer-logo {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .footer-desc {
      margin-bottom: 2rem;
      max-width: 320px;
      @media(max-width: #{$break-max-lg}) {
        max-width: unset;
      }
    }
    .footer-payment {
      margin-bottom: 2rem;
    }
  }

  &-menu {
    &-title {
      font-size: 2.4rem;
      font-weight: 500;
      margin-bottom: 2rem;
      color: $color-black;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 2rem;
        a {
          color: $color-black;
        }
      }
    }
  }

  &-payment {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &-desc {

  }

  &-perm {
    a {
      color: $color-black;
    }
  }
}
