.modal {
  &-dialog {
    position: relative;
    width: 100%;
    max-width: 800px;
    background: $color-white;
    min-height: 20%;
    max-height: 100%;
    border-radius: 30px;
    overflow-y: auto;
  }
  &-content {
    padding: 30px;
  }

  &-title {
    font-weight: bold;
    font-size: 3rem;
  }


  &-header {
    border-bottom: none;
  }
}
