.modal {
  padding: 1.5rem;
  &-dialog {
    position: relative;
    max-width: 800px;
    background: $color-white;
    min-height: 20vh;
    max-height: calc(100vh - 4rem);
    border-radius: 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @media (max-width: #{$break-max-sm}) {
      max-height: 80vh;
      border-radius: 20px;
    }
  }
  &-content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media (max-width: #{$break-max-sm}) {
      padding: 1.5rem;
    }
  }

  &-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; // Плавный скролл на iOS
  }

  &-title {
    font-weight: bold;
    font-size: 3rem;
    @media (max-width: #{$break-max-md}) {
      font-size: 2.4rem;
    }
  }


  &-header {
    border-bottom: none;
    flex-shrink: 0;
  }

  &-footer {
    flex-shrink: 0;
  }
}
