.cart-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  z-index: 50;
  svg {
    width: 34px;
    height: 34px;
    path {
      stroke: $color-black;
    }
  }
  &-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    background: red;
    border-radius: 30px;
    padding: 0 5px;
    bottom: -6px;
    right: -6px;
    min-width: 24px;
    height: 24px;
    font-size: 14px;
    color: $color-white;
  }
}

// cart-items
.cart {
  &-items {
    .cart-item {
      margin-bottom: 1rem;
      @media (max-width: #{$break-max-sm}) {
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $color-grey-dark;
      }
    }
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 0 1rem;
    @media (max-width: #{$break-max-sm}) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
    }
    &-image {
      @media (max-width: #{$break-max-sm}) {
        border: 1px solid $color-grey;
        border-radius: 10px;
        margin-bottom: 1rem;
      }
    }

    &-info {
      &-price {
        display: flex;
        gap: 0 5px;
      }
      .cart-item-name {
        margin-bottom: 5px;
      }
    }

    &-name {
      font-size: 14px;
      color: $color-black;
      font-weight: bold;
      > a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }
    }
    &-price {
      font-size: 14px;
      color: $color-black;
    }
    &-total {
      font-size: 14px;
      color: $color-black;
    }

    &-actions {
      display: flex;
      align-items: center;
      gap: 10px 40px;
      .cart-item-quantity {

      }
      .cart-item-remove {

      }
    }

    &-quantity {
      display: flex;
      align-items: center;
      gap: 10px;
      .btn {
        padding: 0;
        border: none;
      }
    }

    &-remove {
      .but {
        padding: 0;
      }
    }
  }

  &-total {
    display: flex;
    justify-content: flex-end;
  }
}