.category {
  margin-bottom: 10rem;
  @media(max-width: #{$break-max-md}) {
    margin-bottom: 5rem;
  }
  &-head {
    margin-bottom: 4rem;
    @media(max-width: #{$break-max-md}) {
      margin-bottom: 2rem;
    }
  }
  &-main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    margin: 0 -8px;
    @media(max-width: #{$break-max-md}){
      gap: 15px 0;
      margin: 0 -5px;
    }
    .category-item {
      width: calc(100% / 8 - 16px);
      margin: 0 8px;
      @media(max-width: #{$break-max-xl}) {
        width: calc(100% / 6 - 16px);
      }
      @media(max-width: #{$break-max-lg}) {
        width: calc(100% / 4 - 16px);
      }
      @media(max-width: #{$break-max-md}) {
        width: calc(100% / 3 - 10px);
        margin: 0 5px;
      }
    }
  }

  &-item {
    text-align: center;
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 130px;
      margin-bottom: 2rem;
      border-radius: 30px;
      background: $color-white;
      box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
      padding: 10px;
      transform: scale(1);
      transition: all 0.2s linear;
      @media(max-width: #{$break-max-md}){
        border-radius: 16px;
        padding: 5px;
        height: 85px;
        margin-bottom: 1rem;
      }
      &:hover {
        transform: scale(1.05);
      }
      img {
        height: 100%;
      }
    }
    &-name {
      font-size: 16px;
      color: $color-black;
      @media(max-width: #{$break-max-md}) {
        font-size: 12px;
      }
    }
  }
}

// category-page
.category-page {
  &-head {
    margin-bottom: 3rem;
    @media (max-width: #{$break-max-md}) {
      margin-bottom: 2rem;
    }
  }
  &-main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .category-page-categories {
      position: sticky;
      top: 15px;
      width: 100%;
      max-width: 280px;
      margin-right: 40px;
      @media(max-width: #{$break-max-lg}) {
        max-width: unset;
        margin-right: 0;
        position: static;
        margin-bottom: 3rem;
      }
    }
    .category-page-products {
      width: calc(100% - 280px - 40px);
      @media(max-width: #{$break-max-lg}) {
        width: 100%;
      }
    }
  }

  &-categories {
    border-radius: 20px;
    padding: 30px;
    background: $color-white;
    @media(max-width: #{$break-max-lg}) {
      background: none;
      padding: 0;
      border-radius: unset;
    }
    ul {
      margin: 0;
      padding: 0;
      @media(max-width: #{$break-max-lg}) {
        display: flex;
        align-items: center;
        max-width: 100%;
        overflow-x: auto;
        gap: 0 10px;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
      }
      li {
        list-style: none;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 10px;
        color: $color-black;
        @media(max-width: #{$break-max-lg}) {
          white-space: nowrap;
          font-size: 12px;
          border-radius: 30px;
          background-color: #eeeeee;
          padding: 10px 15px;
        }
        &.active {
          a {
            font-weight: 600;
            opacity: 0.7;
          }
          @media (max-width: #{$break-max-md}) {
            background: $color-red;
            color: white;
            a {
              font-weight: 300;
              opacity: 1;
            }
          }
        }
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
  &-products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    margin: 0 -5px;
    @media (max-width: #{$break-max-md}) {
      gap: 20px 0;
    }
    &--empty {
      font-size: 14px;
      p {
        font-size: inherit;
      }
    }
    .product {
      width: calc(100% / 4 - 10px);
      margin: 0 5px;
      @media (max-width: #{$break-max-xl}) {
        width: calc(100% / 3 - 10px);
      }
      @media (max-width: #{$break-max-md}) {
        width: calc(100% / 2 - 10px);
      }
    }
  }

  .product {
    background: none;
    padding: 0;
    &-image {
      padding: 3rem;
      background: $color-white;
      border-radius: 30px;
      margin-bottom: 2rem;
      @media (max-width: #{$break-max-md}) {
        padding: 1rem;
      }
    }
  }
}