.favorite-button {
  position: fixed;
  bottom: 100px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  z-index: 50;
  svg {
    width: 34px;
    height: 34px;
    path {
      stroke: $color-black;
    }
  }
  &-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    background: red;
    border-radius: 30px;
    padding: 0 5px;
    bottom: -6px;
    right: -6px;
    min-width: 24px;
    height: 24px;
    font-size: 14px;
    color: $color-white;
  }
}

// favorite
.favorite {
  &-items {

  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 10px;
    padding: 3rem;
    margin-bottom: 3rem;
    border: 1px solid $color-grey;
    border-radius: 16px;
    @media (max-width: #{$break-max-md}) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
      margin-bottom: 1rem;
    }
    .favorite-item-image {
      @media (max-width: #{$break-max-md}) {
        margin-bottom: 1rem;
      }
    }
    .favorite-item-info {
      flex-grow: 1;
      @media (max-width: #{$break-max-md}) {
        margin-bottom: 1rem;
      }
    }

    &-image {
      border-radius: 10px;
      img {
        border-radius: inherit;
      }
      @media (max-width: #{$break-max-md}) {
        border: 1px solid $color-grey;
        border-radius: 10px;
      }
    }
    &-info {
      .favorite-item-name {
        margin-bottom: 5px;
      }
      .favorite-item-price {
        margin-bottom: 5px;
      }
    }

    &-name {
      color: $color-black;
      text-decoration: none;
      &:hover, &:focus {
        color: $color-black;
        text-decoration: none;
      }
    }
    &-price {

    }
    &-quantity {

    }

    &-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: #{$break-max-md}) {
        align-items: flex-start;
        flex-direction: row;
        gap: 0 5px;
      }
    }
  }
}