.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  z-index: 9999;
  max-width: 300px;
  &-container {
  }
}

.notification-success {
  background-color: $color-black;
}

.notification-error {
  background-color: $color-black;
}

.notification-fade-in {
  animation: fadeIn 0.3s ease-in;
}

.notification-fade-out {
  animation: fadeOut 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}