.popular {
  margin-bottom: 10rem;
  @media(max-width: #{$break-max-md}) {
    margin-bottom: 5rem;
  }
  &-main {
    display: flex;
    flex-wrap: wrap;
    background: $color-white;
    border-radius: 30px;
    .popular-info {
      width: 50%;
    }
    .popular-image {
      width: 50%;
    }
  }

  &-info {
    padding: 4rem;
    @media(max-width: #{$break-max-md}) {
      padding: 2rem;
    }
    .popular-title {
      @media(max-width: #{$break-max-md}) {
        margin-bottom: 1rem;
      }
    }
    .popular-name {
      margin-bottom: 3rem;
      @media(max-width: #{$break-max-md}) {
        margin-bottom: 1rem;
      }
    }
    .popular-buttons {

    }
  }

  &-title {
    color: $color-red;
    @media(max-width: #{$break-max-md}) {
      font-size: 1.8rem;
    }
  }

  &-name {
    font-size: 2rem;
    @media(max-width: #{$break-max-md}) {
      font-size: 1.2rem;
    }
  }

  &-buttons {
    .btn {
      @media(max-width: #{$break-max-md}) {
        min-height: 30px;
        font-size: 1.2rem;
        padding: 0 1.5rem;
      }
    }
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px 30px 30px 0px;
    background-color: #ff4400;
    max-height: 360px;
    @media(max-width: #{$break-max-md}) {
      max-height: 150px;
    }
    img {
      max-width: 100%;
      width: auto;
      height: 100%;
    }
  }
}